.SearchBarContainer {
    margin: auto;
    margin: 20px;
}

.MuiGrid-root div{
    margin: auto;
    display: flex;
    justify-content: center;
}

.MuiDataGrid-cell{
    text-align: center !important;
}

.ToyEnrichment {
    text-align: left;
}

.ToyEnrichment img {
    margin-right: 1em;
}

.FoodEnrichment {
    text-align: left;
}

.FoodEnrichment img {
    margin-right: 1em;
}