.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dd-wrapper {
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
}


.dd-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
}

.dd-header__title--bold {
font-weight: bold;
}

.dd-list {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}

li {
  list-style-type: none;
}

button{
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

button:hover:focus{
  
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}

.DivToMakeFirstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
}

.FirstRowLeft {
  display: flex;
  flex-direction: row;
  
}

.DivToMakeSecondRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.SharedAnimals {
  justify-content: center;
}

.SharedAnimals ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SharedAnimals li {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ToyEnrichment div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ToyEnrichment li {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FoodEnrichment div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FoodEnrichment li {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-left: 1em;
  margin-bottom: 1em;
  text-align: center;
  width: 99%;
}
table thead th {
  border-bottom: 1px solid black;
}